<h2>{{Title}}</h2>

<table class="table table-bordered">
    <tr>
        <th>SNo.</th>
        <th>Name</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>

    <tr ng-repeat="user in users">
        <td>{{$index+1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.address}}</td>
        <td>
            <button type="submit" class="btn btn-primary" ng-click="deleteOneUser($index)">delete</button>
            <!--<input type="button" value="delete" ng-submit="deleteOneUser(user.userId)">-->
            <label>{{$index}}</label>
        </td>
    </tr>

</table>

<form class="form-horizontal" name="userForm" ng-submit="addNewUser(user)" novalidate>
    <div class="form-group">
        <label class="col-sm-2">SNo.</label>
        <div class="col-sm-10">
            <input type="text" ng-model="user.userId" class="form-control">
            <div ng-messages="userForm.userId.$error" ng-show="userForm.name.$dirty || userForm.$submitted" class="text-danger">
                <span ng-message="required">Please SNo.</span>
            </div>
        </div>
    </div>

    <div class="form-group">


        <label class="col-sm-2">Name</label>
        <div class="col-sm-10">
            <input type="text" name="name" ng-model="user.name" ng-required="true" class="form-control">
            <div ng-messages="userForm.name.$error" ng-show="userForm.name.$dirty || userForm.$submitted" class="text-danger">
                <span ng-message="required">Please Enter Name</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">Address</label>
        <div class="col-sm-10">
            <input type="text" name="address" ng-model="user.address" ng-required="true" class="form-control" ng-minlength="3" ng-maxlength="500">
            <div ng-messages="userForm.name.$error" ng-show="userForm.address.$dirty || userForm.$submitted" class="text-danger">
                <span ng-message="required">Please Enter address</span>
                <span ng-message="minlength">address must have 3 chars</span>
                <span ng-message="maxlength">address can not have more than 500 chars</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>